@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply bg-background;
		@apply text-white;
		@apply font-serif
	}
	h1 {
		@apply text-5xl;
		@apply mx-4;
		@apply my-2; 
	}

	label {
		@apply text-white/50;
	}

	input[type='text'] {
		@apply bg-secondary;
		@apply rounded-lg;
		@apply px-4;
		@apply py-2;
		@apply m-1;
		@apply focus:outline-none;
	}

	input[type='password'] {
		@apply bg-secondary;
		@apply rounded-lg;
		@apply px-4;
		@apply py-2;
		@apply m-1;
		@apply focus:outline-none;
	}

  button {
    @apply bg-secondary;
    @apply rounded-lg;
    @apply px-4;
    @apply py-2;
    @apply m-1;
  }

}

@layer components {
	.dropdown:hover .dropdown-menu {
		@apply block;
	  }
}